img {
	max-width: 100%
}
body {
	font-size: 16px
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	font-size: 1em
}

p {
	font-size: 1em
}

h1, h2, h3 {
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 2.5em
}
h2 {
	font-size: 2em
}
h3 {
	font-size: 1.5em
}
header {
	background: red;
	color: #fff;
}
header h1, header h2 {
	margin: 0 0 0 10px;
	text-align: left;	
}
nav {
	background:white;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0 0 0;
	border-bottom: 1px solid red
}
nav ul {
	list-style: none;
	margin: 2.5%;
	padding: 0;
}
nav ul li {
	display: inline-block;
	width: 22%;
	padding: 0%;
}
nav a {
	display: block;
	color: #484444;
	font-weight: bold;
	padding: 8px;
	margin:0;
}
nav a:hover {
	background: red;
	color: #fff;
	border-radius: 10;
}